html, body, p {
    font-family : 'Open Sans Condensed', 'Fira Sans', 'Segoe UI', 'sans-serif' !important;
}

#resultados, table {
    font-size : smaller !important;
}

.btn, h2, h3 {
    font-weight : 500 !important;
}

.ui-checkbox .ui-btn, .ui-radio .ui-btn {
    padding-left  : 37px !important;
    font-family   : 'Open Sans Condensed', 'Fira Sans', 'Segoe UI', 'sans-serif' !important;
    border-radius : .25em !important;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left : 0;
}

thead {
    background-color : #38c;
    border-color     : #38c;
    color            : #fff;
    text-shadow      : 0 1px 0 #059;
    font-size        : large;
}

td.centrado, th.centrado {
    text-align     : center;
    vertical-align : middle !important;
}

td.derecha, th.derecha {
    text-align     : right;
    vertical-align : middle !important;
}

td.izquierda, th.izquierda {
    text-align     : left;
    vertical-align : middle !important;
}

td a.boton {
    margin      : 0 !important;
    font-family : 'Open Sans Condensed', sans-serif !important;
    font-size   : 14px !important;
}

.ui-btn {
    font-size   : 14px !important;
    font-family : 'Open Sans Condensed', sans-serif !important;
}

