{% extends "base.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% block title %}Bus{% endblock %}
{% block content %}
    <style>
        body > div.site-container.ui-page.ui-page-theme-a.ui-page-active > div.ui-content > div > a {
            display : none !important;
        }
    </style>
    <div style="width: 100%">
        <table data-role="table" id="table-parametro" data-mode="columntoggle"
               class="ui-table ui-shadow table-stripe  ui-responsive">
            <thead>
            <th class="derecha">Vehículo</th>
            <th class="izquierda">{{ bus.nombre }}</th>
            </thead>
            <tr>
                <td class="derecha">Rendimiento</td>
                <td><strong>{{ bus.rendimiento }} Kms/Gal</strong></td>
            </tr>
            <tr>
                <td class="derecha">Costo/Dia</td>
                <td><strong>Lps. {{ bus.costo_por_dia|intcomma }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Costo/Km</td>
                <td><strong>Lps. {{ bus.costo_por_km }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Asientos</td>
                <td><strong>{{ bus.capacidad_nominal }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Capacidad</td>
                <td><strong>{{ bus.capacidad_real }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Chofer Fijo?</td>
                <td><strong>{{ bus.chofer_fijo|yesno }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Activo?</td>
                <td><strong>{{ bus.activo|yesno }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Creado</td>
                <td><strong>{{ bus.creado|date }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Actualizado</td>
                <td><strong>{{ bus.actualizado|date }}</strong></td>
            </tr>
        </table>
    </div>
    <a href="{{ bus.get_update_url }}" class="ui-btn-active ui-link ui-btn ui-icon-edit ui-btn-icon-left">Editar
        Vehículo</a>
{% endblock %}