{% extends "_list.html" %}
{% load humanize %}
{% block title %}Vehículos{% endblock %}
{% block page-title %}Vehículos{% endblock %}
{% block thead %}
    <th class="center">Vehículo</th>
    <th data-priority="1" class="derecha">Costo/Día</th>
    <th data-priority="2" class="derecha">Costo/Km</th>
    <th data-priority="3" class="derecha">Km/Gal</th>
{% endblock %}
{% block tbody %}
    {% for bus in bus_list %}
        <tr>
            <td data-search="{{ bus.nombre }}"><a class="ui-btn ui-link boton"
                                                  href="{{ bus.get_absolute_url }}">{{ bus.nombre }}</a>
            </td>
            <td class="derecha">{{ bus.costo_por_dia|intcomma }}</td>
            <td class="derecha">{{ bus.costo_por_km|intcomma }}</td>
            <td class="derecha">{{ bus.rendimiento }}</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block footer %}
    <a class="boton ui-link ui-btn ui-icon-plus ui-btn-icon-left"
       href="{% url "transporte_bus_create" %}">Agregar Nuevo Vehículo</a>
{% endblock %}
