{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'transporte_cliente_list' %}">Cliente Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>nombre</td>
    <td>slug</td>
    <td>creado</td>
    <td>actualizado</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.id}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.nombre }}</td>
    <td>{{ object.slug }}</td>
    <td>{{ object.creado }}</td>
    <td>{{ object.actualizado }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'transporte_cliente_create' %}">Create new Cliente</a>
{% endblock %}