{% extends "_detail.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% block title %}Detalle de Cliente{% endblock %}
{% block page-title %}Detalle de Cliente{% endblock %}{% block thead %}
    <th class="derecha">Cliente</th>
    <th class="izquierda">{{ cliente.nombre }}</th>{% endblock %}{% block tbody %}
    <tr>
        <td class="derecha">Contacto</td>
        <td><strong>{{ cliente.contacto }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Tel</td>
        <td><a title="Llamar" href="tel:{{ cliente.tel }}"
               class="ui-btn ui-btn-c ui-btn-icon-left ui-btn-inline ui-shadow ui-link ui-icon-phone">{{ cliente.tel }}</a>
        </td>
    </tr>
    <tr>
        <td class="derecha">Email</td>
        <td><a title="Enviar email" href="mailto:{{ cliente.email }}"
               class="ui-btn ui-btn-c ui-btn-icon-left ui-btn-inline ui-shadow ui-link ui-icon-mail">{{ cliente.email }}</a>
        </td>
    </tr>
    <tr>
        <td class="derecha">Nivel de Precio</td>
        <td><strong>{{ cliente.nivel_de_precio }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><strong>{{ cliente.creado|date:'D d/M/Y' }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><strong>{{ cliente.actualizado|date:'D d/M/Y' }}</strong></td>
    </tr>{% endblock %}{% block footer %}
    <a href="{{ cliente.get_update_url }}"
       class="ui-btn ui-btn-c ui-btn-icon-left ui-btn-inline ui-shadow ui-link ui-icon-edit">Editar
        Cliente</a>{% endblock %}