{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'transporte_cotizacion_detalle_list' %}">Cotizacion_Detalle Listing</a></p>
<table class="table">
<tr><td>descripcion</td><td>{{ object.descripcion }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>cantidad</td><td>{{ object.cantidad }}</td></tr>
<tr><td>markup</td><td>{{ object.markup }}</td></tr>
<tr><td>precio</td><td>{{ object.precio }}</td></tr>
<tr><td>monto</td><td>{{ object.monto }}</td></tr>
<tr><td>total</td><td>{{ object.total }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Cotizacion_Detalle</a>

{% endblock %}