{% extends "_detail.html" %}
{% load humanize %}
{% block title %}Detalle de Itinerario{% endblock %}
{% block page-title %}Detalle de Itinerario{% endblock %}
{% block thead %}
    <th class="derecha">Itinerario</th>
    <th class="izquierda">{{ itinerario.nombre }}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Inicia</td>
        <td><strong>{{ itinerario.fecha_desde|date:"D d/b" }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Termina</td>
        <td><strong>{{ itinerario.fecha_desde|date:"D d/b" }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Estatus</td>
        <td><strong>{{ itinerario.get_estatus_display }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Slug</td>
        <td><strong>{{ itinerario.slug }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><strong>{{ itinerario.creado }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><strong>{{ itinerario.actualizado }}</strong></td>
    </tr>
{% endblock %}
{% block footer %}
    <a href="{{ itinerario.get_update_url }}"
       class="ui-btn ui-btn-c ui-btn-inline ui-shadow ui-link ui-icon-edit ui-btn-icon-left">Editar Itinerario</a>
{% endblock %}
