{% extends "_form.html" %}
{% block title %}Itinerarios{% endblock %}
{% block page-title %}Itinerarios{% endblock %}
{% block extlibs %}
    <link rel="stylesheet"
          href="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.css"/>
    <script src="https://rawgithub.com/jquery/jquery-ui/1-10-stable/ui/jquery.ui.datepicker.js"></script>
    <script src="https://rawgithub.com/arschmitz/jquery-mobile-datepicker-wrapper/master/jquery.mobile.datepicker.js"></script>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#id_fecha_desde').datepicker();
            $('#id_fecha_hasta').datepicker();
        });
    </script>
{% endblock %}