{% extends "base.html" %}
{% load static %}
{% block content %}
    <p><a class="btn btn-default" href="{% url 'transporte_lugar_list' %}">Lugar Listing</a></p>
    <table class="table">
        <tr>
            <td>codigo</td>
            <td>{{ object.codigo }}</td>
        </tr>
        <tr>
            <td>slug</td>
            <td>{{ object.slug }}</td>
        </tr>
        <tr>
            <td>creado</td>
            <td>{{ object.creado }}</td>
        </tr>
        <tr>
            <td>actualizado</td>
            <td>{{ object.actualizado }}</td>
        </tr>
        <tr>
            <td>nombre</td>
            <td>{{ object.nombre }}</td>
        </tr>
        <tr>
            <td>pais</td>
            <td>{{ object.pais }}</td>
        </tr>
    </table>
    <a class="btn btn-primary" href="{{ object.get_update_url }}">Edit Lugar</a>

{% endblock %}