{% extends "base.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% load porcentaje %}
{% block title %}Detalle de Nivel de Precio{% endblock %}
{% block content %}
    <div class="table-responsive">
        <table class="table table-responsive table-stripped table-condensed">
            <thead>
            <th class="derecha">Nivel de Precio</th>
            <th>{{ niveldeprecio.nombre }}</th>
            </thead>
            <tr>
                <td class="derecha">Tipo</td>
                <td><strong>{{ niveldeprecio.get_tipo_display }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Acción</td>
                <td><strong>{{ niveldeprecio.get_accion_display }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Valor</td>
                {% if niveldeprecio.tipo == "FI" %}
                    <td><strong>En un {{ niveldeprecio.valor|porciento }}</strong></td>
                {% else %}
                    <td><strong>En {{ niveldeprecio.valor }} Lps.</strong></td>
                {% endif %}
            </tr>
            <tr>
                <td class="derecha">Factor</td>
                <td><strong>{{ niveldeprecio.factor|floatformat:6 }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Creado</td>
                <td><strong>{{ niveldeprecio.creado|date }}</strong></td>
            </tr>
            <tr>
                <td class="derecha">Actualizado</td>
                <td><strong>{{ niveldeprecio.actualizado|date }}</strong></td>
            </tr>
        </table>
    </div>
    <a href="{{ niveldeprecio.get_update_url }}" class="ui-btn-active ui-link ui-btn ui-icon-edit ui-btn-icon-left">Editar
        Nivel de Precio</a>
{% endblock %}
