{% extends "_detail.html" %}
{% load humanize %}
{% block title %}Detalle de Parámetro{% endblock %}
{% block page-title %}Detalles de Parámetro{% endblock %}{% block thead %}
    <th class="derecha">Parámetro</th>
    <th>{{ parametro.nombre }}</th>{% endblock %}{% block tbody %}
    <tr>
        <td class="derecha">Valor</td>
        <td><strong>{{ parametro.valor }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Unidad</td>
        <td><strong>{{ parametro.unidad }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Orden</td>
        <td><strong>{{ parametro.orden }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><strong>{{ parametro.creado|date:'D d/M/Y' }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><strong>{{ parametro.ultima_actualizacion|date:'D d/M/Y' }}</strong></td>
    </tr>{% endblock %}{% block footer %}
    <a href="{{ parametro.get_update_url }}"
       class="ui-btn ui-btn-c ui-btn-icon-left ui-btn-inline ui-shadow ui-link ui-icon-edit ui-btn-icon-left">Editar
        Parámetro</a>{% endblock %}