html, body, p, .ui-checkbox .ui-btn, .ui-radio .ui-btn, td a.boton, .ui-btn {
    font-family : 'Open Sans Condensed', 'Fira Sans', 'Segoe UI', 'sans-serif' !important;
}

#resultados, table {
    font-size : smaller !important;
}

a.ui-table-columntoggle-btn.ui-btn.ui-btn-a.ui-corner-all.ui-shadow.ui-mini {
    margin-bottom : 7px;
}

.btn, h2, h3 {
    font-weight : 500 !important;
}

.ui-checkbox .ui-btn, .ui-radio .ui-btn {
    padding-left  : 37px !important;
    border-radius : .25em !important;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left : 0;
}

thead {
    background-color : #38c;
    border-color     : #38c;
    color            : #fff;
    text-shadow      : 0 1px 0 #059;
    font-size        : 1.1em;
}

td.centrado, th.centrado {
    text-align     : center;
    vertical-align : middle !important;
}

td.derecha, th.derecha {
    text-align     : right;
    vertical-align : middle !important;
    padding        : 4px 10px;
}

td.izquierda, th.izquierda {
    text-align     : left;
    vertical-align : middle !important;
    padding        : 4px 10px;
}

td a.boton {
    margin    : 0 !important;
    font-size : 14px !important;
}

.ui-btn {
    font-size : 14px !important;
}

div#ui-datepicker-div {
    background-color : #fff;
    padding          : 10px;
    border           : #ddd 1px solid;
    box-shadow       : #ddd 1px 1px 2px;
    margin-top       : 2px;
}

span.ui-icon.ui-icon-circle-triangle-w, span.ui-icon.ui-icon-circle-triangle-e {
    padding : 0px 8px;
    border  : 1px solid #ddd;
    margin  : 15px;
    cursor  : pointer;
}

#ui-datepicker-div > table > tbody > tr > td {
    text-align    : right;
    padding-right : 6px !important;
    border-color  : #ccc;
}

.ui-datepicker-title {
    padding     : 5px;
    text-align  : center;
    font-weight : bold;
    color       : #4f4f4f;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    text-align : center;
}

.ui-datepicker-calendar th {
    text-align   : center;
    border-color : #aaa;
}

.ui-content {
    padding : .5em;
}

.ui-loading .ui-loader {
    display : none;
}

.ui-btn {
    margin : 0;
}

.ui-select .ui-btn select {
    z-index : 1;
}
