html, body, p {
    font-family : 'Open Sans Condensed', 'Fira Sans', 'Segoe UI', 'sans-serif' !important;
}

#resultados, table {
    font-size : smaller !important;
}

.btn, h2, h3 {
    font-weight : 500 !important;
}

.ui-checkbox .ui-btn, .ui-radio .ui-btn {
    padding-left  : 37px !important;
    font-family   : 'Open Sans Condensed', 'Fira Sans', 'Segoe UI', 'sans-serif' !important;
    border-radius : .25em !important;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    margin-left : 0;
}

thead {
    background-color : #38c;
    border-color     : #38c;
    color            : #fff;
    text-shadow      : 0 1px 0 #059;
    font-size        : large;
}

td.centrado, th.centrado {
    text-align     : center;
    vertical-align : middle !important;
}

td.derecha, th.derecha {
    text-align     : right;
    vertical-align : middle !important;
    padding        : 4px 10px;
}

td.izquierda, th.izquierda {
    text-align     : left;
    vertical-align : middle !important;
    padding        : 4px 10px;
}

td a.boton {
    margin      : 0 !important;
    font-family : 'Open Sans Condensed', sans-serif !important;
    font-size   : 14px !important;
}

.ui-btn {
    font-size   : 14px !important;
    font-family : 'Open Sans Condensed', sans-serif !important;
}

div#ui-datepicker-div {
    background-color : #fff;
    padding          : 10px;
    border           : #ddd 1px solid;
    box-shadow       : #ddd 1px 1px 2px;
    margin-top       : 2px;
}

span.ui-icon.ui-icon-circle-triangle-w, span.ui-icon.ui-icon-circle-triangle-e {
    padding : 0px 8px;
    border  : 1px solid #ddd;
    margin  : 15px;
    cursor  : pointer;
}

#ui-datepicker-div > table > tbody > tr > td {
    text-align    : right;
    padding-right : 6px !important;
    border-color  : #ccc;
}

.ui-datepicker-title {
    padding     : 5px;
    text-align  : center;
    font-weight : bold;
    color       : #4f4f4f;
}

.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
    text-align : center;
}

.ui-datepicker-calendar th {
    text-align   : center;
    border-color : #aaa;
}

.ui-content {
    padding : .5em;
}

.ui-icon-carat-d:after {
    background-image : url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpolygon%20style%3D%22fill%3A%23FFFFFF%3B%22%20points%3D%2211.949%2C3.404%207%2C8.354%202.05%2C3.404%20-0.071%2C5.525%207%2C12.596%2014.07%2C5.525%20%22%2F%3E%3C%2Fsvg%3E");
}

