{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Adalberto H. Vega">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
    <script type="application/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.js"></script>
    {% block extlibs %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "css/layout.css" %}">
</head>
<body>
<div data-role="page" class="ui-responsive-panel" id="{% block page-id %}Home{% endblock %}">
    <div data-role="header" data-position="fixed"><h1>{% block page-title %}title{% endblock %}</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        <a href="javascript:history.back()" data-icon="arrow-l" id="backbutton" data-iconpos="notext">Back</a>
    </div><!-- /header -->
    <div data-role="content">
        {% block content %}{% endblock %}
    </div>
    <div data-role="panel" data-display="overlay" data-theme="a" id="nav-panel">
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Cerrar menu</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'transporte_parametro_list' %}">Parámetros</a></li>
            <li><a href="{% url 'transporte_bus_list' %}">Vehículos</a></li>
            <li><a href="{% url 'transporte_niveldeprecio_list' %}">Niveles de Precio</a></li>
            <li><a href="{% url 'transporte_item_list' %}">Items</a></li>
            <li><a href="{% url 'transporte_cliente_list' %}">Clientes</a></li>
            <li><a href="{% url 'transporte_itinerario_list' %}">Itinerarios</a></li>
            <li><a href="{% url 'transporte_cotizacion_list' %}">Cotizaciones</a></li>
        </ul>
    </div><!-- /panel -->
    <div data-role="footer" data-position="fixed">
        {% block footer %}{% endblock %}
    </div>
</div>
{% block scripts %}
    replace
{% endblock %}
</body>