{% load staticfiles %}<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>{% block title %}title{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="Adalberto H. Vega">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'>
    <link rel='stylesheet' href="{% static "flat-ui/jquery.mobile.flatui.css" %}"/>
    <link rel='stylesheet' href="{% static "themes/jquery.mobile.icons.min.css" %}"/>
    <link rel='stylesheet' href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css"/>
    <link rel='stylesheet' href="{% static "css/layout.css" %}">
    {% block extcss %}{% endblock %}
</head>
<body>
<div data-role="page" class="ui-responsive-panel" id="{% block page-id %}Home{% endblock %}">
    <div class="ui-header ui-bar-b" role="banner" data-role="header" data-theme="b" data-tap-toggle="false">
        <!-- header -->
        <h1>{% block page-title %}title{% endblock %}</h1>
        <a href="#nav-panel" data-icon="bars" data-iconpos="notext">Menu</a>
        <a href="javascript:history.back()" data-icon="arrow-l" id="backbutton" data-iconpos="notext">Back</a>
    </div><!-- /header -->
    <div data-role="content">{% block content %}{% endblock %}
    </div>
    <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel" style="width: 200px"><!-- panel -->
        <ul data-role="listview">
            <li data-icon="delete"><a href="#" data-rel="close">Cerrar menu</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'transporte_parametro_list' %}">Parámetros</a></li>
            <li><a href="{% url 'transporte_tipodevehiculo_list' %}">Tipos de Vehículo</a></li>
            <li><a href="{% url 'transporte_vehiculo_list' %}">Vehículos</a></li>
            <li><a href="{% url 'transporte_niveldeprecio_list' %}">Niveles de Precio</a></li>
            <li><a href="{% url 'transporte_item_list' %}">Items</a></li>
            <li><a href="{% url 'transporte_cliente_list' %}">Clientes</a></li>
            <li><a href="{% url 'transporte_itinerario_list' %}">Itinerarios</a></li>
            <li><a href="{% url 'transporte_itinerario_table' %}">Itinerarios Tabla</a></li>
            <li><a href="{% url 'transporte_cotizacion_list' %}">Cotizaciones</a></li>
            <li><a href="{% url 'transporte_tramo_list' %}">Tramos</a></li>
            <li><a href="{% url 'transporte_lugar_list' %}">Lugares</a></li>
            <li><a href="{% url 'transporte_conductor_list' %}">Conductores</a></li>
        </ul>
    </div><!-- /panel -->
    <div data-role="footer" data-position="fixed" data-theme="b">{% block footer %}{% endblock %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
{% block extlibs %}{% endblock %}{% block scripts %}{% endblock %}{% block scripts2 %}{% endblock %}
</body>
