{% extends "base.html" %}
{% load humanize %}
{% block title %}Itinerarios{% endblock %}
{% block page-title %}Itinerarios{% endblock %}
{% block extlibs %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js "></script>
{% endblock %}

{% block content %}
    <table id="itinerariotable" data-role="table" data-mode="columntoggle"
           class="table-stroke ui-shadow table-stripe  ui-responsive">
        <thead>   <!-- header row -->
        <tr>
            <th class="centrado">Itinerario</th>
            <th data-priority="1" class="centrado">Inicia</th>
            <th data-priority="2" class="centrado">Termina</th>
            <th data-priority="3" class="centrado">Estatus</th>
        </tr>
        </thead>
        <tbody>   <!-- data  -->
        {% for itinerario in itinerario_list %}
            <tr>
                <td data-search="{{ itinerario.nombre }}"><a class="ui-btn ui-link boton"
                                                             href="{{ itinerario.get_absolute_url }}">{{ itinerario.nombre }}</a>
                </td>
                <td class="centrado">{{ itinerario.fecha_desde|date:"D d/b" }}</td>
                <td class="centrado">{{ itinerario.fecha_hasta|date:"D d/b" }}</td>
                <td class="centrado">{{ itinerario.get_estatus_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#itinerariotable').dataTable({
                                                "language": {
                                                    "url": "dataTables.spanish.lang"
                                                }
                                            });
        });
    </script>
{% endblock %}

